version: "3.8"

services:
    osu_bot_frontend:
        build: ./frontend
        volumes:
            - ./frontend:/usr/src/frontend
            - /usr/src/frontend/node_modules
        ports:
            - 3000:3000
        stdin_open: true
        environment:
            CHOKIDAR_USEPOLLING: "true"
            API: http://localhost:8000/

    osu_bot_backend:
        build: ./backend
        volumes:
            - ./backend:/usr/src/backend
        ports:
            - 8000:8000
        environment:
            - PORT=8000
            - USERNAME=
            - PASSWORD=
